<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='../static/index.css')}}">
</head>

<body>
    <div class="container">
        <h1>Bienvenido,{{session['usuario']}}</h1>
        <p>Has iniciado sesión correctamente</p>
        <a href="/logout">Cerrar sesión</a>
        <h1>LISTADO DE USUARIOS</h1>
        <table class="table">
            <tr>
                <th>Codigo:</th>
                <th>Nombre:</th>
                <th>Apellido:</th>
                <th>Email:</th>
                <th>Dirección:</th>
                <th>Celular:</th>
                <th>Usuario:</th>
                <th class="contra">Contraseña:</th>
                <th>Acciones:</th>
            </tr>
            <tbody>
                {% for usuario in personas %}
                <tr>
                    <td>{{usuario[0]}}</td>
                    <td>{{usuario[1]}}</td>
                    <td>{{usuario[2]}}</td>
                    <td>{{usuario[3]}}</td>
                    <td>{{usuario[4]}}</td>
                    <td class="contra">{{usuario[5]}}</td>
                    <td class="botones">
                        <a href="{{url_for('editar_usuario', id = usuario[0])}}">Editar</a><br>

                        <a href="{{ url_for('eliminar_usuario', id= usuario [0]) }}">Eliminar</a>

                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        <a href="{{ url_for('registrar_usuario')}}" class="agregar">Agregar Usuario</a>
    </div>

</body>

</html>