<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canciones</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='../static/canciones.css')}}">
    <link rel="stylesheet" href="../static/canciones.css">
</head>

<body>
    <div class="container">
        <h1>Lista de canciones</h1>
        <table class="table">
            <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Artista</th>
                <th>Género</th>
                <th>Lanzamiento</th>
                <th>Precio</th>
                <th>Duracion</th>
                <th>Imagen</th>
                <th>acciones</th>
            </tr>
            <tbody>
                {% for cancion in canciones %}
                <tr>
                    <td>{{cancion.titulo}}</td>
                    <td>{{cancion.artista}}</td>
                    <td>{{cancion.genero}}</td>
                    <td>{{cancion.lanzamiento}}</td>
                    <td>{{cancion.precio}}</td>
                    <td>{{cancion.duracion}}</td>

                    <td><img src="data:imagen/jpeg;base64,{{cancion.imagen}}" alt="no sale imagen" width="100"></td>
                    <td class="botones">
                        <a href="{{url_for('editar_cancion', id=cancion.id_can)}}">Editar</a>
                        <a href="{{ url_for('eliminar_cancion', id=cancion.id_can) }}">Eliminar</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('registrar_cancion')}}" class="agregar">Agregar Usuario</a>
    </div>
</body>

</html>